<h3>LinkedIn Profile</h3>
<%= @linkedin_profile["first_name"] + ' ' + @linkedin_profile["last_name"] %><br>
<%= @linkedin_profile["headline"] %>

<%= form_for @connection do |form| %>
  <%= form.submit "Import or Refresh LinkedIn Connections" %>
</form><br>
<% end %>

<% if user_signed_in? %>
  <table class="table">
    <tr>
    <th colspan = '5'><br><h3>Contact Queue</h3></th>
    </tr>
    <tr>
      <th>Name</th>
      <th>Headline</th>
      <th>Date to Contact</th>
      <th></th>
      <th></th>
    </tr>
    <tr>
    <% if @connections.nil? == false %>
      <% @connections.each do |connection| %>
      <td><%= connection.first_name + ' ' + connection.last_name %></td>
      <td><%= connection.headline %></td>
      <td><%= connection.date %></td>
      <td><button><%= link_to "Update", edit_connection_path(connection.id) %></button></td>
      <td><button><%= link_to "Delete", connection_path(connection.id), method: :delete %></button></td>
      </tr>
      <% end %>
  </table>
  <% else %>
  <% end %>
<% else %>
<% end %>


