<h3>LinkedIn Profile</h3>
<%= @linkedin_profile["first_name"] + ' ' + @linkedin_profile["last_name"] %><br>
<%= @linkedin_profile["headline"] %>

<% if user_signed_in? %>
  <table class="table">
    <tr>
    <th colspan = '4'><br><h3>Contact Queue</h3></th>
    </tr>
    <tr>
      <th>Name</th>
      <th>Headline</th>
      <th>Date to Contact</th>
      <th></th>
    </tr>
    <tr>
    <% if @connections.nil? == false %>
      <% @connections.each do |connection| %>
      <td><%= connection["first_name"] + ' ' + connection["last_name"] %></td>
      <td><%= connection["headline"] %></td>
      <td><%= connection["date"] %></td>
      <td><button><%= link_to "Update", edit_connection_path(connection.id) %></button></td>
      </tr>
      <% end %>
  </table>
  <% else %>
  <% end %>
<% else %>
<% end %>

<button><%= link_to "Add a Connection to the Contact Queue", new_connection_path %></button>


