<%= form_for @connection do |form| %>
  <div>
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>
  <div>
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>
  <div>
    <%= form.label :headline %>
    <%= form.text_field :headline %>
  </div>
  <div>
    <%= form.label :note %>
    <%= form.text_area :note %>
  </div>
  <div>
    <%= form.label 'Date to contact next' %>
    <%= form.text_area :date %>
  </div>
  <%= form.submit "Add" %>
</form><br>
<% end %>

<h3>Have you talked to
<% random_connection = @linkedin_connections.sample %>
<%= random_connection["first_name"] + ' ' + random_connection["last_name"] + ' ' %>
lately? </h2>

<% if user_signed_in? %>
  <table class="table">
    <tr>
    <th colspan = '2'><br><h3>LinkedIn Contacts</h3></th>
    </tr>
    <tr>
      <th>Name</th>
      <th>Headline</th>
    </tr>
    <tr>
    <% if @linkedin_connections.nil? == false %>
      <% @linkedin_connections.each do |connection| %>
      <td><%= connection["first_name"] + ' ' + connection["last_name"] %></td>
      <td><%= connection["headline"] %></td>
      </tr>
      <% end %>
  </table>
  <% else %>
  <% end %>
<% else %>
<% end %>



