<h2><%= @connection.first_name + ' ' + @connection.last_name %></h2>
<p><%= @connection.headline %></p>


<%= link_to 'Edit Connection', edit_connection_path(@connection.id) %> ||
<%= link_to 'Add a Connection to the Contact Queue', new_connection_path %> ||
<%= link_to 'View all Connections in the Contact Queue', connections_path %>
