<h3>Add a note on an interaction with <%= @connection.first_name + ' ' + @connection.last_name %></h3>

<%= form_for [@connection, @note] do |form| %>
  <div>
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>
  <div>
    <%= form.label :date_of_interaction %>
    <%= form.text_field :date_of_interaction %>
  </div>
  <%= form.submit "Add Note" %>
</form><br>
<% end %>
