<!DOCTYPE html>
<html>
<head>
  <title>Rapport</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link href='http://fonts.googleapis.com/css?family=Lemon' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>
    </div>
  </div>
</body>
</html>
